.text-animate {
    display: inline-block;
    opacity: 0;
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
    color: #000;
  }
  
  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    color: #000;
  
    &:hover {
      animation: rubberBand 1s;
      color: rgb(123,47,253);
    }
  }
  
  @for $i from 1 through 35 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }

  // Dark theme styles
  body.dark-theme {
    .text-animate,
    .text-animate-hover {
      color: #fff;
      &:hover {
        color: rgb(123,47,253);
      }
    }
  }