html,
body {
    height: 100%;
    margin: 0;
}

.page {
    width: 100%;
    min-height: 100vh;
    margin-left: 10%;
    position: relative;
    overflow-y: auto;
}

.top-tags {
    top: 35px;
    margin-left: 25%;
    z-index: 1000;
}

.tags {
    color: rgb(0, 0, 0);
    opacity: 0.55;
    position: absolute;
    bottom: 0;
    margin-left: 20%;
    font-size: 20px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: -25%;
}

.top-tag-html {
    margin-left: -25%;
}

.container {
    width: 100%;
    will-change: contents;
    height: auto;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}

.about-page,
.contact-page {
    .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: rgb(0, 0, 0);
            font-weight: 400;
            margin-top: 20%;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            animation: fadeIn 1s;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aroure';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -13px;
                line-height: 18px;
                opacity: 0.5;
            }

            &::after {
                content: '</ h1>';
                font-family: 'La Belle Aroure';
                font-size: 18px;
                position: absolute;
                bottom: -20px;
                left: -13px;
                line-height: 18px;
                opacity: 0.5;
            }

        }

        p {
            transform: translateY(-3%);
            font-size: 20px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.584);
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: fadeIn 2s;
            // animation: pulse 1s;
            animation-delay: 1s backwards;



        }
    }
}

.home-page {
    width: 100%;
    height: 100%;

    align-content: center;
    justify-content: center;

    overflow: hidden;
    overflow-y: scroll;

    h1 {
        position: relative;
        color: black;
        font-size: 450%;
        text-align: left;
    }

    h2 {
        position: relative;
        color: black;
        text-align: center;
    }

    .introduction {
        margin-top: 5px;
        display: flex;
        margin-left: 10%;
        margin-right: 1%;
        align-items: left;
        justify-content: center;
        position: relative;

        img {
            animation: fadeIn 1.5s linear both;
            animation-delay: .75s;
            height: 180px;
            width: 180;
            position: relative;
            border-width: 2px;
            border: 2.8px solid rgb(123, 47, 253);
            border-radius: 50%;
            border-top-width: 2.8px;
            border-right-width: 2.8px;
            border-bottom-width: 2.8px;
            border-left-width: 2.8px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: rgb(123, 47, 253);
            border-right-color: rgb(123, 47, 253);
            border-bottom-color: rgb(123, 47, 253);
            border-left-color: rgb(123, 47, 253);
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;

        }

    }

    .p {
        font-size: 20px;
        padding-bottom: none;
        animation: fadeIn 1s 1s 1.5s 1 backwards fill-mode;
        ;
    }

    .typewriter {
        color: rgb(123, 47, 253);
        font-style: italic;
        font-weight: bold;
        font-size: xx-large;
        padding-bottom: 15px;
        text-align: center;
    }

    .flat-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: 13px;
        letter-spacing: 4px;
        border: 2.8px solid rgb(123, 47, 253);
        text-decoration: none;
        padding: 10px 10px;
        animation: fadeIn 5s 0s backwards;
        white-space: nowrap;
        justify-content: center;

        &:hover {
            background: rgb(123, 47, 253);
            opacity: 100%;
            color: rgb(255, 240, 220);
            font-weight: bold;
        }
    }
}