.page{
    width: 100%;
    height: 100%;
    margin-left: 10%;
    position: absolute;
}

.top-tags{
    bottom: auto;
    top: 35px;
    margin-left: 25%;
}

.tags{
    color: rgb(0,0,0);
    opacity: 0.55;
    position: absolute;
    bottom: 0;
    margin-left: 20%;
    font-size: 20px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html{
    margin-left: -25%;
}

.top-tag-html{
    margin-left: -25%;
}

.container{
    width: 100%;
    will-change: contents;
    height: auto;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}

.about-page{
    .text-zone{
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1{
            font-size: 53px;
            font-family: 'Coolvetica';
            color: rgb(0, 0, 0);
            font-weight: 400;
            margin-top: 20%;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before{
                content: '<h1>';
                font-family: 'La Belle Aroure';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -13px;
                line-height: 18px;
                opacity: 0.5;
            }

            &::after{
                content: '<h1 />';
                font-family: 'La Belle Aroure';
                font-size: 18px;
                position: absolute;
                bottom: -20px;
                left: -13px;
                line-height: 18px;
                opacity: 0.5;
            }
        }

        p{
            font-size: 20px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.584);
        }
    }
}